.feature-list {
  display: flex;
  gap: 30px;
}

.feature-list__item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature-list__thumb {
  @include centeredFlex;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--light-bg-color);
}

.feature-list__title {
  margin-bottom: 10px;

  @include font($fw: 700);
  text-transform: uppercase;
}

.feature-list__text {
  color: var(--alternate-text-color);

  @include font($lh: 24px);
}
